.imagem {
    display: flex;
    justify-content: center;
    border: 7px solid #1D2D44;
    max-width: 540px;
    width: auto;
    margin: auto;
    size: auto;
    border-radius: 3px;
}

.buttons,
.camera,
.home {
    display: flex;
    justify-content: center;
}

a:link,
a:visited,
a:active {
  color:#F0EBD8;
  text-decoration: none;
}

button {
    border: 3px solid #F0EBD8;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #748CAB;
    
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #748CAB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #F0EBD8;
}

@media only screen and (min-width: 320px) {
    /* For desktop: */
    .caixa {
      width: auto;
      font-size: 175%;
    }
}

