.ar,
temperatura {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;

}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 26px; 
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #748CAB;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


body {
  background-color: #3E5C76;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #F0EBD8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;

}

.temp-selector{
    height:130px;
    width:120px;
    background-color:#1D2D44;
    position:relative;
    border: 5px solid #1D2D44;
    border-radius: 10px;
    margin-top: 25px;
    
  }

  .temp_button {
  width:100%;
  height:30px;
  background-color:#1D2D44;
  border:none;
  color:#F0EBD8;
  font-size:18px;
  cursor:pointer;
  
  
  }
  
  input{
  width:100%;
  height:60px;
  background-color:#1D2D44;
  border:none;
  color:#F0EBD8;
  font-size:40px;
  padding:0;
  text-align:center;
  }
  .degree{
  color:#F0EBD8;
  position:absolute;
  top:30px;
  right:10px;
  font-size:24px;
  }

  button {
    border: 3px solid #F0EBD8;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #3E5C76;
}

.home,
.eletro,
.temperatura,
.ar {
  display: flex;
  justify-content: center;
  margin: auto;
}

.temperatura {
  margin: auto;
  gap: 20%;
}

.ar {
  margin:auto;
  /* margin-left: 270px; */
  gap: 22%;
}

.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eletro {
  font-size:larger ;
}

.caixa{
  margin: auto;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .caixa {
    width: auto;
    font-size: 175%;
  }
}